<div class="container">
  <h1>Login</h1>
  <p class="address">Enter your email below to find your party. If you have trouble logging in, get in touch with Lisa at lisakbuch@gmail.com</p>
  <%= form_tag '/login' do %>
  <div class="login">

    Email: <%= text_field_tag :email %>
    <br/>
    <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>