
<h1>Roll back to 2007 at Hamilton College…</h1>

<p>
In an effort to snag the position of publicity director at WHCL (a title under which she later generated much flack for mispelling “presents” on this highly-visible concert poster), Lisa cleverly wrote on her application that she wanted the beloved campus band, Applewagon, to play live on air to gain more listeners. This was a bold move, considering she didn’t know anything about Applewagon, and didn’t know that their lead singer, Dave, was one of the people interviewing her for the position. But she was a fearless freshman, and Dave was just some flannel-clad upperclassman Cameron Breslin had introduced her to a while back during their radio show. To make things more interesting, the interview was taking place during a Central New York blizzard, the power had gone out, and Lisa was being interviewed in the dark. All was going well, until a voice from across the room said “I see you wanted to get Applewagon to play on the air. Can I ask what you think of their lead singer?” Lisa, not knowing that 1) Dave was the lead singer of Applewagon, 2) Dave himself had asked her that question, or 3) what the general consensus was on said lead singer, gave the most neutral, lukewarm response she could think of-- “I don’t mind him.” As things turned out, she came to mind him quite a bit!
</p>
<p>
The Bristol Center got its power back in time for WHCL’s weekly meetings, so Lisa, the new publicity director, could dreamily steal glances at Dave, the jam rack manager, instead of paying attention to what was actually going on (her apologies to the WHCL staff for that.) They enjoyed jumping on couches in the Majapp, varsity "free running" together, and chance encounters in McEwen, until Dave graduated in 2009. Dave went to Newport and worked on a bird sanctuary for the summer, Lisa went abroad to France, and they didn’t see much of each other. Dave returned to campus in the Fall of 2010 for an LCD Soundsystem concert, where he tapped Lisa on the shoulder, and that was that! After countless gigs, concerts, and adventures together, they are excited to embark on this new trail together.
</p>



<h3>If you don’t know Lisa so well…</h3>


<p>Lisa grew up daydreaming, drawing, and collecting stickers in Westborough, Massachusetts. She spent her time at Hamilton making art, writing endless French papers and analyses of Ezra Pound, taking far more classes than needed, and getting way too into themed parties. She started out in publishing, helped run a French school, and then got into graphic design and programming before finding her calling as a web developer. When she isn’t coding, designing things, or cooking, you can find her petting random dogs on the street or taking a nap (not on the street).
</p>
<p>
Loves: yellow labs, lavender, running, pigs, Davey
Doesn’t love: beets, touching seaweed
</p>

<h3>If you don’t know Dave so well…</h3>

<p>
Dave grew up in the wild west of San Diego, California, going to cowboy camp and Comic Con, climbing trees, and listening to Pink Floyd and Queen. When he wasn’t studying biology, math, and music at Hamilton, you could find him juggling, building epic snow forts (with a few other key players), and doing improv. He enjoyed a brief stint working at The Norman Bird Sanctuary in Newport, RI, working as a professional improv comedian, and tutoring an impressive repertoire of New York City private school students before getting into teaching.
</p>
<p>
Loves: plants, playing guitar, Monty Python, tying knots, Lisa
Doesn’t love: Little Dragon, yogurt,
</p>






