<h1>The Rundown</h1>

<p>Lisa and Dave's will take place at The Barn at Gibbet Hill in Groton, MA. It's a big red barn, you can't miss it. We will have shuttles departing from The Courtyard Boston starting at 3:00 p.m., and there is ample parking at The Barn.</p>

<p>The ceremony will take place at Bancroft's Castle up on top of the hill. There will be shuttle buses to transport people from The Barn to the castle if you'd like, but you are more than welcome to walk there, too! Fair warning, there's a bit of an uphill stretch at the end!</p>

<p>After the ceremony, head down to The Barn for drinks, dinner, dancing, and hilarity. </p>

<p>We'll round out the night with a piano sing-a-long sesh led by Lisa's brother, Brian, and an after-party at Tavern in the Square back at The Point.</p>


