<div class="container">
<h1>The Rundown</h1>
<h3>Woke up, rolled out of bed, dragged a comb across my head</h3>
<p class="address">The main event will take place at;</p>
<p class="address"><a href="https://www.google.com/maps?q=The+Barn+at+Gibbet+Hill&ion=1&espv=2&bav=on.2,or.r_cp.&bvm=bv.142059868,d.cGc&biw=1323&bih=838&dpr=0.9&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjZoLP4pJjRAhUD9WMKHeYXBcMQ_AUIBigB" target="_blank">The Barn at Gibbet Hill</a><br>61 Lowell Road<br>Groton, MA<br>01450<br/>(it's a big red barn, you can't miss it.)</p>

<iframe class="address-map" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpeaUpfO_44kRh60jWMkRqJQ&key=AIzaSyDiamd5cAzgbboHlyZQ9d3yjkqBl8kbIts" allowfullscreen></iframe>
<p>We will have shuttles departing from The Courtyard Marriott Littleton (102 Constitution Avenue, Littleton, MA -- stay tuned on timing), and there is ample parking at The Barn in case you are driving.</p>

<p>The ceremony will take place at Bancroft's Castle up on top of the hill. There will be shuttle buses to transport people from The Barn to the castle if you'd like, but you are more than welcome to walk there, too! Fair warning, there's a bit of an uphill stretch at the end!</p>

<p>After the ceremony, head down to The Barn for drinks, dinner, dancing, and lots of hilarity. </p>

<p>We'll round out the night with a piano sing-a-long sesh led by Lisa's brother, Brian, and an after-party (location TBD).</p>
<div class="address">
<h3>TL;DR</h3>
<p><i style="color:#d16f50;" class="fa fa-bus" aria-hidden="true"></i> <b><b> shuttles</b> leaving from Courtyard Marriott Littleton - 102 Constitution Ave, Littleton, MA</p>
<p><i style="color:#ff9800;"class="fa fa-heart" aria-hidden="true"></i> <b> ceremony & reception</b> - The Barn at Gibbet Hill -- 61 Lowell Rd, Groton, MA</p>
<p> <i style="color:#d16f50;" class="fa fa-beer" aria-hidden="true"></i> <b> move your boogie body to the afterparty</b>-Location TBD</p>
</div>
</div>

