
<h1>So what's this "Groton, Massachusetts?"</h1>
<p>Fun fact: Groton was a battlefield in King Philip's War and Queen Anne's War!</p>

<p>Groton is about an hour west of Boston, and about 45 minutes from Worcester. If you are flying, training, or busing in from out of town, we recommend you travel to either Logan Airport or South Station in Boston, or Union Station or Worcester Airport, in, you guessed it, Worcester.</p>


<h1>Where to stay</h1>

<p>We've reserved a block of rooms at The Courtyard Boston Littleton located at The Point. The block will be available until June 2017. Email lisa at lisakbuch@gmail.com with any questions. Side note: The Point is home to cafes, bars, restaurants, and shopping, as well!</p>

<p>While not extensive, there are also several Airbnb listings in the area. <a href="https://www.airbnb.com/rooms/3673266?checkin=06%2F16%2F2017&checkout=06%2F18%2F2017&guests=9&adults=9&children=0&infants=0&s=caWW8uiG" target="_blank">This one in Ayer</a>, or <a href="https://www.airbnb.com/rooms/10310425?checkin=06%2F16%2F2017&checkout=06%2F18%2F2017&guests=9&adults=9&children=0&infants=0&s=caWW8uiG" target="_blank">this one</a> in Harvard, would be a great option for a big group.</p>

<h1>What do I do there?</h1>
<p>Treat yourself to a giant ice cream cone at Kimball's Farm, where Lisa used to go as a kid! Kimball's also has mini-golf, batting cages, bumper boats, and tons more.</p>

<p>Rent a canoe, kayak, or paddleboard from Nashoba Paddler and go on an adventure on the Nashua River! (note: Nashoba Paddler is cash/check only) </p>

<p>Go for a stroll in downtown Concord, where there are loads of shops, cafes, and restaurants.</p>

<p>Visit the adorable Alpacas at Luina Greine Farm!</p>

<p>Grab a pint at True West Brewing Company, or Rapscallion Tap Room.</p>

<p>Visit the Lowell Mill, about a 30 minute drive away.</p>