<div class="container">
  <p>Please note that you are not, by any means obligated to get us anything! Your company and good cheer on the 16th mean the world to us, and that's really all we ask for!</p>

  <p>However, if you would like to gift us anything and need some suggestions our registry can be found by clicking below.</p>

  <%=image_tag "zola-logo-pride.png", :class=>"reg" %>
</div>